.menu {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.menu-container {
    width: 80%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.menu-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.menu-item p {
    color: #666;
}

.menu-item span {
    color: red;
    font-weight: bold;
}
